<div class = tasks>
  <% if @task.completed %>
    <h2>[<i class='fas fa-check'></i>] <%= @task.title %></h2>  
  <% else %>
    <h2>[<i class="fas fa-times"></i>] <%= @task.title %></h2>
  <% end %>
  <p><%= @task.details %></p>
  <%= simple_form_for(@task) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :details %>
      <%= f.text_area :details, class: 'form-control' %>
    </div>
    <div class="form-check form-check-inline form-group">
      <%= radio_button_tag :completed, 1, false, class: 'form-check-input mr-1' %>
      <%= label_tag :completed, "Completed", class: 'form-check-label mr-2' %>
      <%= radio_button_tag :completed, 0, true, class: 'form-check-input mr-1' %>
      <%= label_tag :completed, "Not completed", class: 'form-check-label' %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= link_to "All tasks", tasks_path, class: 'btn btn-info' %>
</div>